<section>
    <article>

        <div>
            <p id="intro">.</p>
            <br>
            <p class="pespecial"></p>
        </div>
    </article>
</section>

<div class="cuerpo">
    <div class="container contenido" id="cuerpo">

        <h1 id="TituloMatematicass">
            <b>Las matemáticas</b>
        </h1>

        <div id="TextoMatematica">

            <p>
                Las matemáticas son diveritdas y te preparan para la vida.
            </p>

            <br>
            <p>

                Algunos estudios revelan que hay mucha gente que tiene dificultades para extraer información matemática de situaciones reales, tal vez, porque en su etapa de formación se ha dado más importancia al aprobado de un examen que a mostrar la aplicación cotidiana
                que tienen las matemáticas. Algunos entendidos opinan que, enfocadas convenientemente, las matemáticas pueden ser divertidas
            </p>
        </div>
    </div>
</div>
